{% extends 'base.html' %}

{% block title %} Chinese. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i><em>🇨🇳</em> Китайский.</b></h4><br><img src = "https://upload.wikimedia.org/wikipedia/commons/f/fa/New-Map-Sinophone_World.PNG" width="500" height="300" align = "right">
        <p><i>Китайский язык является одной из двух ветвей <b>сино-тибетской семьи</b> языков, самый распространённый язык в мире (1.3 млрд. говорящих). Стандартный мандарин является официальным языком материкового Китая и Тайваня, где он служит в качестве лингва франка для носителей взаимно непонятных диалектов. </i></p><br>
        <p><i>Стандартный мандаринский язык используется во всех сферах неформального и официального общения. Он служит средством обучения на всех уровнях образования, а также во всех средствах массовой информации. Использование стандартного китайского языка облегчило общение между людьми, говорящими на множестве непонятных друг другу диалектов и языков.</i></p><br>
        <p><i>Китайский относится к <b>корневым языкам</b>. Фонетическая база языка основана на системе тонов.</i></p><br>
    </article>
</div>
{% endblock %}