{% extends 'base.html' %}

{% block title %} Czech. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i><em>🇨🇿</em> Чешский — IPA:</i> [ˈtʃɛʃcɪna].</b></h4><br>
        <p><i>Чешский относится к <b>западнославянской группе</b> языков, входящей в состав индоевропейской языковой семьи и является единым государственным языком Чехии, 96% жителей страны говорят именно на нём. Чешский язык имеет много общих черт с языками своей группы: русским, украинским и белорусским, однако по своему звучанию, письменности и составу наиболее близким к чешскому является словацкий. </i></p><br>
        <p><i>В написании слов чешского языка всегда действует правило, согласно которому на каждый звук приходится одна буква «a». Согласно основному правилу произношения слов, <b>ударение всегда ставится на первый слог</b>. Письменность основана на использовании <b>букв латинского алфавита</b> и <b>диакритических знаков</b> для обозначения долготы гласных звуков, выделения шипящих и указания на мягкость согласных букв, стоящих перед некоторыми гласными. </i></p><br>
    </article>
</div>
{% endblock %}