{% extends 'base.html' %}

{% block title %} French. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i>🇫🇷<em></em> Французский — IPA:</i> [fʁɑ̃ˈsɛ].</b></h4><br><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/New-Map-Francophone_World.PNG/2560px-New-Map-Francophone_World.PNG" width="500" height="300" align = "left">
        <p><i>Язык романской группы. Один из официальных языков франкоязычного населения Бельгии, Швейцарии и Канады (провинция Квебек). Французским языком пользуется население многих государств Африки, Карибского бассейна, Французской Гвианы, в том числе и в качестве официального языка. На нём говорят 321 млн. человек.</i></p><br>
        <p><i>Порядок слов во французском фиксированный — <b>SVO</b>, но если прямое дополнение выражено местоимением, то используется порядок <b>SOV</b>. Разговорной французской грамматике свойственен аналитизм и заимствования из английского (фр. franglais = <b>fran</b>çais + an<b>glais</b>), но письменная норма — флективно-аналитическая с элементами агглютинации.</i></p><br>
        <p><i>Стратегия кодирования глагольных актантов во французском — <b>аккузативная</b>.</i></p><br>
        <p><i>Классический фонемный инвентарь включает <b>увулярные согласные</b> и <b>расширенный треугольник гласных</b>.</i></p><br>
    </article>
</div>
{% endblock %}