{% extends 'base.html' %}

{% block title %} Czech. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i><em>🇩🇪</em> Немецкий — IPA:</i> [ˈdɔʏ̯tʃ].</b></h4><br>
        <p><i>Относится к западной группе <b>германских языков индоевропейской семьи</b>. Письменность — на основе латинского алфавита, дополненного <b>тремя графемами</b>, обозначающими <b>умлауты</b> («ä», «ö», «ü»), и лигатурой <b>эсцет</b> («ß»). Древнейшие памятники письменности относятся к VIII веку.</i></p><br>
        <p><i>Современный немецкий язык, история которого начинается примерно со второй половины XVII века, иначе называют нововерхненемецким языком. Также немецкий — один из официальных и рабочих языков Европейского союза и ряда других международных организаций. Общее число говорящих составляет 79 млн. человек.</i></p><br>
    </article>
</div>
{% endblock %}