{% extends 'base.html' %}

{% block title %} Italian. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i><em>🇨🇮</em> Итальянский — IPA:</i> [itaˈljaːno].</b></h4><br><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Linguistic_map_of_the_Italian_language.svg/2560px-Linguistic_map_of_the_Italian_language.svg.png" width="500" height="300" align = "left">
        <p><i>Итальянский язык непосредственно восходит к <b>народной латыни</b>, распространённой на территории Италии. В Средние века, когда Италия была политически разъединена, общего литературного языка не существовало, хотя сохранились письменные памятники различных диалектов. </i></p><br>
        <p><i>Строй итальянского языка достаточно типичен для романской семьи. В фонологии сохраняется формальное <b>противопоставление открытых и закрытых гласных</b>, что обычно для новых романских языков (французский, португальский, каталонский), хотя его роль в фонематическом смыслоразличении невелика. В лексике присутствует множество поздних, «книжных» заимствований из латыни.</i></p><br>
    </article>
</div>
{% endblock %}