{% extends 'base.html' %}

{% block title %} Spanish. {% endblock %}

{% block content %}
<div style="margin: 50px 10%">
    <article class="content">
        <h4 class="text-left col"><b><i><em>🇪🇸</em> Испанский — IPA:</i> [espaˈɲol].</b></h4><br><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Detailed_SVG_map_of_the_Hispanophone_world.svg/2880px-Detailed_SVG_map_of_the_Hispanophone_world.svg.png" width="500" height="300" align = "right">
        <p><i>Язык романской группы, язык испанцев и большинства народов Латинской Америки. Один из официальных языков ООН и ЮНЕСКО. Общее число говорящих составляет 590 млн. человек по всему миру.</i></p><br>
        <p><i>Порядок слов в испанском <b>свободный</b>. Грамматика испанского больше агглютинативная.</i></p><br>
        <p><i>Стратегия кодирования глагольных актантов в испанском — <b>аккузативная</b>.</i></p><br>
    </article>
</div>
{% endblock %}